In [ ]:
!pip install -q ipython-sql prettytable==3.5.0

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.4 MB/s eta 0:00:00

In [ ]:
import csv
import sqlite3
import pandas as pd

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [ ]:
%load_ext sql
%sql sqlite:///RealWorldData.db

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
census_df = df
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
crime_df = df
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
school_df = df
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

566

In [ ]:
census_df.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [ ]:
crime_df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [ ]:
school_df.head()

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [ ]:
# How many crime activities were recorded

%%sql
select
  count (*)
from
  CHICAGO_CRIME_DATA;

 * sqlite:///RealWorldData.db
Done.

[(533,)]

In [ ]:
# Which area with income per capita < 11000

%%sql
select
  community_area_number,
  community_area_name,
  per_capita_income
from
  CENSUS_DATA
where
  per_capita_income < 11000

 * sqlite:///RealWorldData.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

In [ ]:
# Cases involving minors

%%sql
select
  id,
  case_number,
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where
  description like '%minor%'

 * sqlite:///RealWorldData.db
Done.

[(3987219, 'HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 (3266814, 'HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

In [ ]:
# Kidnapping cases involving children

%%sql
select
  id,
  case_number,
  primary_type,
  description
from
  CHICAGO_CRIME_DATA
where
  primary_type like '%kidnapping%'
  and
  description like '%child%'

 * sqlite:///RealWorldData.db
Done.

[(5276766, 'HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

In [ ]:
# Types of crimes that were commited at school

%%sql
select
  distinct primary_type,
  location_description
from
  CHICAGO_CRIME_DATA
where
  location_description like '%school%'
order by
  primary_type

 * sqlite:///RealWorldData.db
Done.

[('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

In [ ]:
# Average safety score for each school types

%%sql
select
  "Elementary, Middle, or High School",
  avg(safety_score)
from
  CHICAGO_PUBLIC_SCHOOLS_DATA
group by
  "Elementary, Middle, or High School"

 * sqlite:///RealWorldData.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [ ]:
# Top 5 area with highest % of households below poverty

%%sql
select
  community_area_name,
  max(percent_households_below_poverty) as highest_percent_households_below_poverty
from
  census_data
where
  percent_households_below_poverty is not null
group by
  community_area_name
order by
  highest_percent_households_below_poverty desc
limit 5

 * sqlite:///RealWorldData.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [ ]:
# Top 1 crime number area

%%sql
select
  community_area_number,
  count(community_area_number) as CrimeNumber
from
  CHICAGO_CRIME_DATA
where
  community_area_number is not null
group by
  community_area_number
order by
  crimenumber desc
limit 1

 * sqlite:///RealWorldData.db
Done.

[(25.0, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
%%sql
select
  community_area_number,
  community_area_name,
  hardship_index
from
  census_data
where
  hardship_index = (
    select max(hardship_index)
    from census_data
  )

 * sqlite:///RealWorldData.db
Done.

[(54.0, 'Riverdale', 98.0)]

In [ ]:
# Top 1 crime number area

%%sql
select
  census.community_area_number,
  census.community_area_name,
  count(crime.community_area_number) as crimenumber
from
  CHICAGO_CRIME_DATA as crime
JOIN
  CENSUS_DATA as census
ON
  crime.community_area_number = census.community_area_number
WHERE
  census.community_area_name IS NOT NULL
GROUP BY
  census.community_area_number, census.community_area_name
ORDER BY
  CrimeNumber DESC
LIMIT 1;

 * sqlite:///RealWorldData.db
Done.

[(25.0, 'Austin', 43)]